a{color: blue; font-weight: bold;}
            u{color: blue; font-weight: bold;}
            .li{color: blue; font-size: 30px;}
            .list{color: black; font-size: 30px; border-bottom: 1px solid; }
            .bg{background-color: dimgray; color: goldenrod;}
            #title{color: green;}
            #margin{margin: 0px 300px; border-left:1px solid silver; border-right: 1px solid silver; padding-left: 20px; padding-right: 20px;}
            del{color:darkgray}
            .yb{margin-left: 88px;}
            html{background-color:rgba(230, 227, 227, 0.822);}
            body{background-color: white;}
            #night{float: right;}